@media(max-width: 1000px){
    header{
    background-position: center center;
    }
    h1{
        font-size: 10vw;
    }
    #Poem{
        flex-direction: column; /* направление элементов в столбик */
        height: 1150px;
        padding-bottom: 15px;
    }
    #Poem img{
    width: 100%;
    height: 500px;
    }
    #Poem video{
    width: 100%;
    height: 500px;
    }
    #Poem p{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 12px;
        font-size: 2em;
    }
    #effect1{
        width: 100%;
        height: 500px;
    }
    #Butterfly{
        width: 150px;
        height: 150px;
    }
    #Priznaki div{
    color: yellow;
    font-family: Comfortaa;
    font-size: 3em;
    width: 80%;
    /* border: red solid 10px; */
    }
    #Priznaki{
    height: fit-content;
    padding-bottom: 150px;
    }
    #Kalendar{
    background-color: orange;
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    }
    #Month{
    width: 350px;
    height: 279px;
    border: red 5px solid;
    position: relative;
    }
    #Celebration{
    padding: 60px;
    background: linear-gradient(rgba(128, 128, 128, 0.842), rgba(128, 128, 128, 0.369)), url(../IMG/krasivye-belye-cvety-na-golubom-nebe.jpg);
    height: 1100px;
    background-size: cover;
    background-position: 0 0;
    }
    #Gallery{
    display: flex;
    justify-content: center;
    gap: 20px;    /* Расстояние между флекс элементами */
    /* padding: 25px; */
    background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5));
    flex-direction: column;
    align-items: center;
    }
    #Gallery figure{
    width: 95%;
    height: 1000px;
    margin: auto;
    border: 15px ridge yellow;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    user-select: none;
    }
    #cveti{
    border: red dashed 15px;
    border-radius: 30px;
    width: 95%;
    }
    #SpringButterfly img{
    width: 90%;
    }
}